body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  background-image: url('gym3.jpg');
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.counters {
  display: flex;
  gap: 20px;
}

.counter {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.divider {
  width: 40%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.timer {
  text-align: center;
}

.mode-title {
  color: #f0f0f0;
  text-align: center;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.start-btn,
.pause-btn,
.stop-btn,
.history-btn {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.start-btn {
  background-color: #4caf50;
  color: white;
}

.pause-btn {
  background-color: #f1c40f;
  color: white;
}

.stop-btn {
  background-color: #e74c3c;
  color: white;
}

.history-btn {
  background-color: #007bff;
  color: white;
  margin-top: 10px;
}

.history-btn:hover {
  background-color: #0056b3;
}

/* ... (CSS lainnya) ... */
.history-pause-container {
  display: flex;
  flex-direction: column;
}

.pause-history-container {
  display: flex;
  flex-direction: column;
}

