<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Koneksi Bluetooth</title>
  <link rel="stylesheet" href="../static/css/connect_ble.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- Hubungkan jQuery -->
</head>

<body>

  <button class="history-button" onclick="goToHistory()">Riwayat</button>

  <div class="mode-title">
    <h1>Counter Push-Up dan Sit-Up berbasis Sensor</h1>
  </div>
  <div class="container">
    <h2>Koneksi Bluetooth</h2>
    <button class="connect-btn" onclick="connectBLE()">Hubungkan</button>
    <p id="connectionStatus">Status: Disconnected</p>
    <button class="next-btn" id="nextBtn" onclick="goToMode()">Selanjutnya</button>
    <!-- <button class="next-btn" id="nextBtn" style="display:none;" onclick="goToMode()">Next</button> -->
    <button class="reset-btn" id="resetBtn" onclick="resetESP32()">Reset</button> <!-- Tombol Reset -->
  </div>

  <script>
    function goToHistory() {
      window.location.href = '/history';
    }

    function connectBLE() {
      $.ajax({
        url: '/connect-ble?start=1',
        type: 'GET',
        success: function (data) {
          if (data.connected) {
            $('#connectionStatus').text('Status: Connected');
            $('#nextBtn').show(); // Tampilkan tombol Next setelah koneksi berhasil
          } else {
            $('#connectionStatus').text('Status: Connection Failed');
          }
        },
        error: function (xhr, status, error) {
          console.error('Error:', error);
          $('#connectionStatus').text('Status: Connection Error');
        }
      });
    }

    function goToMode() {
      window.location.href = '/mode'; // Redirect ke halaman mode
    }

    function resetESP32() {
      $.ajax({
        url: '/reset_esp32/',
        type: 'POST',
        success: function (data) {
          if (data.status === 'success') {
            alert('ESP32 reset successfully');
          } else {
            alert('Failed to reset ESP32');
          }
        },
        error: function (xhr, status, error) {
          console.error('Error:', error);
          alert('Error resetting ESP32');
        }
      });
    }
  </script>
</body>

</html>
