<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Koneksi Bluetooth</title>
  <link rel="stylesheet" href="../static/css/connect_ble.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- Hubungkan jQuery -->
  <script src="../static/js/connect_ble.js"></script> <!-- Hubungkan file JavaScript -->
</head>

<body>

  <button class="history-button" onclick="goToHistory()">Riwayat</button>

  <div class="mode-title">
    <h1>Counter Push-Up dan Sit-Up berbasis Sensor</h1>
  </div>
  <div class="container">
    <div class="dropdown top-right">
      <button class="dropbtn">⋮</button>
      <div class="dropdown-content">
        <button class="reset-btn" id="resetBtn" onclick="showResetModal()">Reset</button>
      </div>
    </div>
    <div id="resetModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="closeResetModal()">&times;</span>
        <p>Apakah Anda yakin ingin mereset alat?</p>
        <button onclick="resetESP32()">Ya, Reset</button>
        <button onclick="closeResetModal()">Batal</button>
      </div>
    </div>

    <h2>Koneksi Bluetooth</h2>
    <button class="connect-btn" onclick="connectBLE()">Hubungkan</button>
    <p id="connectionStatus">Status: Disconnected</p>
    <!-- <button class="next-btn" id="nextBtn" onclick="goToMode()">Selanjutnya</button> -->
    <button class="next-btn" id="nextBtn" style="display:none;" onclick="goToMode()">Selanjutnya</button>
  </div>

</body>

</html>
