<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter dan Waktu Mundur</title>
    <link rel="stylesheet" href="../static/css/counter.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- Hubungkan jQuery -->
</head>

<body>
    <div id="back-btn" onclick="goToMode()">
        <img src="../static/img/back-icon.png" alt="Back">
    </div>

    <div class="mode-title">
        <h1 id="mode-title">Mode</h1>
    </div>
    <div class="container">
        <div class="counters">
            <div class="counter">
                <h2>Gerakan Benar</h2>
                <p id="correctCounter">0</p>
            </div>
            <div class="counter">
                <h2>Gerakan Salah</h2>
                <p id="wrongCounter">0</p>
            </div>
        </div>
        <div class="divider">
            <div class="timer">
                <h2>Waktu Mundur</h2>
                <p id="countdown">01:00</p> <!-- Waktu mundur default 1 menit -->
                <div class="buttons">
                    <button class="start-btn" onclick="startTimer()">Mulai</button>
                    <!-- Memulai waktu mundur dan memulai menerima data -->
                    <button class="restart-btn" onclick="restartTimer()">Ulang</button>
                    <button class="stop-btn" onclick="stopReceivingData()">Berhenti</button>
                </div>
            </div>
        </div>
    </div>
    <button class="back-btn" onclick="saveData()">Simpan Data</button>

    <script src="../static/js/counter.js">
    </script>
</body>

</html>